*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    background-color: #dedede;
    margin: auto;
    width: 600px;
    text-align: center;
}

.playerContainer{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 5px;
}
.player1{
    background-color: white;
    margin-right: 10px;
    width: 200px;
}
.tiesCount{
    background-color: white;
    margin-right: 10px;
    width: 150px;
}
.player2{
    background-color: white;
    width: 200px;
}